body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #fff;
    padding: 30px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}

header p {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem
}

nav h1{
    margin-left: 5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff5555;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s;
    border: 2px solid #ff5555;
    padding: 10px 20px;
    border-radius: 20px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #ff5555;
}



#catch-phrase {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 60px;
    margin: 0;
    border-radius: 0;
}

#catch-phrase h2 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#catch-phrase p {
    font-size: 18px;
    color: #ff5555;;
    margin-top: 10px;
}






#languages {
    color: #eee;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#languages h2 {
    font-size: 28px;
    color: #ff5555;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;
}

.language {
    display: inline-block;
    margin: 1rem;
}

.language img {
    width: 50px;
    height: 50px;
}

.language i {
    font-size: 50px;
}

.language p {
    font-size: 16px;
}

.language:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}




.project {
    background-color: #111111;
    color: #eee;
    padding: 0 2rem 2rem 2rem;
    width: 50%;
    height: auto;
    margin: 5rem auto 5rem auto;
    border-radius: 8px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 25%;
    height: auto;
}

#projects h2 {
    width: 80%;
    text-align: center;
    margin: auto;
    color: #ff5555;
}

.project h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #ff5555;
}

.project p {
    font-size: 18px;
    text-align: center;
}


.github-link {
    display: block;
    color: #ff5555;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.github-link img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.project-page-link {
    display: block;
    color: #ff5555;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.project-page-link i {
    margin-right: 5px;
    font-size: 20px;
}


#projects, #about, #contact {
    color: #eee;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s, box-shadow 0.3s;
}


#upcoming-project-container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#upcoming-project-container h2 {
    color: #ff5555;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 28px;
    padding: 1rem 0;
}

.odd-projects,
.even-projects {
    width: 48%;
    color: #eee;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.upcoming-project:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upcoming-project{
    background-color: #111111;
    margin: 1rem auto;
    padding: 20px;
    margin: 1rem 0;
    border-radius: 8px;
    transform: translateY(0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.upcoming-project img {
    width: 25%;
    height: auto;
}

.upcoming-project h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #ff5555;
}

.upcoming-project p {
    font-size: 18px;
}


.github-link {
    display: block;
    color: #ff5555;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.github-link img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}







#contact_info {
    background-color: #111;
    width: 30%;
    color: #eee;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#contact_info h2 {
    font-size: 28px;
    color: #ff5555;
}

#contact_info p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: start;
}






@media screen and (max-width: 768px) {
   

   
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav h1 {
        margin-left: 0;
    }

    nav ul {
        margin: 1rem 0;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 1rem;
    }


    #catch-phrase h2 {
        font-size: 28px;
    }

    #catch-phrase p {
        font-size: 16px;
    }

    #languages {
        padding: 20px; 
    }

    .language {
        margin: 0.5rem;
    }

    .language img,
    .language i {
        font-size: 30px;
    }

    .language p {
        font-size: 14px;
    }

    .project {
        width: 50%;
        padding: 0 1rem 1rem 1rem;
    }

    .project h3 {
        font-size: 25px;
    }

    .project p {
        font-size: 14px;
    }

    .project img {
        width: 20%;
    }

    .project p {
        font: 10px;
    }

    .github-link {
        font-size: 14px;
    }

    #upcoming-project-container {
        width: 90%;
    }

    .odd-projects, .even-projects {
        width: 100%;
        margin: 3rem auto;
    }

    .upcoming-project {
        width: 80%;
        padding: 20px;
    }

    #contact_info {
        width: 70%;
    }


    #projects .project {
        width: 100%; 
    }
}


@media screen and (max-width: 480px) {
   

    nav ul li a {
        font-size: 14px;
        padding: 8px 16px;
    }

   
    #catch-phrase h2 {
        font-size: 24px;
    }

    #catch-phrase p {
        font-size: 14px;
    }

   
    .language img,
    .language i {
        font-size: 24px;
    }

    .language p {
        font-size: 12px;
    }

    .project{
        width: 60%;
    }

   
    .project img {
        width: 15%;
    }

    .project h3 {
        font-size: 20px;
    }

    .project p {
        font-size: 14px;
    }

    .github-link {
        font-size: 12px;
        padding: 5px 10px;
    }

   

    .upcoming-project{
        width: 80%;
    }

    .upcoming-project img {
        width: 40%;
    }

    .upcoming-project h3 {
        font-size: 20px;
    }

    .upcoming-project p {
        font-size: 14px;
    }

    .github-link {
        font-size: 12px;
        padding: 5px 10px;
    }

    #contact_info {
        width: 80%;
        padding: 20px;
        font-size: 8px;
    }

    #contact_info p {
        font-size: 14px;
    }


}
